@page
@model RazorPagesIntro.Pages.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
  ViewData["Title"] = "Create";
}

<p>Enter a customer name:</p>
<form method="post">
  Name:
  <input asp-for="Customer.Name"/>
  <input type="submit"/>
</form>